@use "../variables.scss";

.time, .rez {
  background: variables.$gray-20;
  border-radius: 4px;
  bottom: 2px;
  color: black;
  font-size: 9px;
  padding: 1px 3px 0px 3px;
  position: absolute;
  z-index: 2;
}

.dark-style {
  color: variables.$gray-20;
  background: black;
}

.time {
  right: 2px;
}

.rez {
  left: 2px;
}

.sheet-icon {
  fill: white;
  height: 16px;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 16px;

  &:hover {
    cursor: zoom-in;
    opacity: 1 !important;
  }
}

.not-connected {
  background-color: yellow;
  border-radius: 5px;
  border: 1px solid #999900;
  bottom: 3px;
  box-sizing: border-box;
  display: block;
  height: 10px;
  left: calc(50% - 5px);
  opacity: 0.5;
  position: absolute;
  width: 10px;
  z-index: 2;
}

.heart {
  fill: #00000047;
  left: 0;
  position: absolute;
  stroke-opacity: 0.5;
  stroke: white;
  top: 0;
  width: 20px;
  z-index: 1;
}

.heart-lit {
  stroke: #ff2255;
  fill: #ff2255;
}

.meta-container,
.video-box {
  .heart {
    opacity: 0;
  }

  .heart-lit {
    opacity: 1;
  }

  &:hover {
    .heart {
      opacity: 1
    }
  }
}
